<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tu Proyecto con htmx, Jinja2, y Semantic UI</title>
  <!-- Incluye los estilos de Semantic UI -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>

<body>
  <div class="ui container">
    <h1 class="ui header">Mi Proyecto con htmx, Jinja2, y Semantic UI</h1>

    <!-- Contenido dinámico -->
    <div hx-get="/cargar_tabla" hx-trigger="load">
      {{ tabla_html|safe }}
    </div>

  </div>

  <!-- Incluye el script de htmx -->
  <script src="https://unpkg.com/htmx.org@1.9.9"
    integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
    crossorigin="anonymous"></script>
  <!-- Incluye el script de Semantic UI -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <!-- Incluye el script de jQuery (opcional, necesario para algunas funciones de Semantic UI) -->
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</body>

</html>
